.demo {
	display: inline-block;
	width: 1000px;
	height: 110px;
	margin: 10px;
	--aug-border: 5px;
	--aug-inset: 5px;
	padding: 10px;
	text-align: center;
	--aug-border-bg: gold;
	--aug-inset-bg: gold;
}
